<!doctype html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="home.css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
</head>

<body>
  <h2 class="text-center mt-5" style="font-family: 'Playfair Display', serif;">Love the child until death</h2>
  <div class="container">

    <form action="/generate" method="POST">
      <div class="row">

        <div class="col-4 infor">

          <h2 class="text-center"><b>Baby full Name</b></h2>
          <input type="text" name="name" class="form-control" placeholder="Write Baby name here" required>
        </div>
      </div>


      <div class="row info">
        <div class="col-4">
          <h5 class="text-center">Date</h5>
          <input type="date" name="date" class="form-control" placeholder="Date" required>
        </div>

        <div class="col-4">
          <h5 class="text-center">Weight/kg</h5>
          <input type="number"  name="weight" class="form-control" placeholder="Weight(gramm)" required>
        </div>
        <div class="col-4">
          <h5 class="text-center">Height/cm</h5>
          <input type="number" name="height" class="form-control" placeholder="Height(cm)" required>
        </div>


        <input type="submit" class="btn btn-lg btn-outline-info font-weight-bold info" value="Generate">
    </form>
    </form>
  </div>
  </div>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
</body>

</html>